@import "mixins.scss";

$fuente: "Poppins", sans-serif;
$fuenteTitulo: "Playfair Display", serif;

$negro: #424241;
$blanco: #ffffff;
$gris: #9e9d9b;

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: $fuente;
  font-size: 16px;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 0;

  nav {
    margin-left: 230px;
    ul {
      display: flex;
      gap: 50px;

      li {
        a {
          color: $gris;
          font-size: 18px;

          &:hover {
            color: $negro;
          }
        }
      }
    }
  }
}

.hero {
  margin-top: 60px;
  position: relative;
  h1 {
    font-family: $fuenteTitulo;
    font-weight: 400;
    font-size: 70px;
    color: $negro;
    position: relative;
    z-index: 1;
    width: 50%;

    &::after {
      content: "";
      display: block;
      background-image: url("../img/rectangle6.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 480px;
      height: 80px;
      position: absolute;
      top: 0;
      left: -120px;
      z-index: -1;
    }
  }

  h2 {
    color: $gris;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
    width: 50%;
  }

  .buttons {
    display: flex;
    gap: 40px;

    .btn1 {
      background-color: $negro;
      color: $blanco;
      padding: 10px 10px 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .btn2 {
      background-color: $blanco;
      color: $negro;
      padding: 10px 10px 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .services {
    position: absolute;
    top: -120px;
    z-index: -1;
    right: -90px;

    &__images {
      display: flex;
      gap: 50px;
      margin-top: 100px;
    }

    &__text{
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: $blanco;
      width: 30%;
      position: absolute;
      bottom: -200px;
      right: 20px;
      padding: 20px;
      font-size: 14px;

      h3{
        font-weight: 400;
        font-size: 14px;
      }

      article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(207, 207, 207);
        padding-bottom: 10px;

        span{
          color: $gris;
        }

        h4{
          color: $negro;
          font-weight: 400;
          font-size: 16px;
          position: relative;
        }
      }

      article:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

.testimonials {
  display: flex;
  gap: 50px;
  margin-top: 300px;

  div {
    display: flex;
    flex-direction: column;
    width: 8%;

    span {
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: 96px;
      color: $negro;
    }

    p {
      color: $gris;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }

  div:nth-child(4) {
    position: relative;

    &::after {
      content: "";
      display: block;
      background-image: url("../img/rectangle6.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 800px;
      height: 200px;
      position: absolute;
      top: 75px;
      left: -95px;
    }
  }
}
